<style>
body {
 background-color:rgb(223, 185, 223);
}
h1 {
     color: rgb(214, 73, 214);
     font-size: 70px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-style: italic;
}

h2 {
     color:rgb(14, 60, 129);
     font-size: 30px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3 {
     color:rgb(190, 15, 161);
     font-size: 30px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h4 {
     color:rgb(122, 202, 226);
     font-size: 30px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h5 {
     color:rgb(101, 23, 173);
     font-size: 30px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h6  {
     color:rgb(158, 12, 12);
     font-size: 30px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
     background-color: rgb(131, 131, 204);
}

h3{
     background-color: palevioletred;
}

h4{
     background-color: rgb(60, 60, 230);
}

h5{
     background-color: rgb(199, 137, 199);
}

h6{
     background-color: rgb(206, 126, 126);
}

.important {
    background-color:rgb(180, 178, 19);
}

#logo {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(230, 26, 26);
    
}
</style>