body {
 background-color:rgb(223, 185, 223);
}
h1 {
     color:red;
     font-size: 70px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-style: italic;
     text-align:center;
}

h2 {
     color:rgb(14, 60, 129);
     font-size: 30px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3 {
     color:rgb(212, 15, 179);
     font-size: 30px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h4 {
     color:rgb(122, 202, 226);
     font-size: 30px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h5 {
     color:rgb(101, 23, 173);
     font-size: 30px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h6  {
     color:rgb(158, 12, 12);
     font-size: 30px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
     background-color: rgb(131, 131, 204);
}

h3{
     background-color: rgb(88, 75, 100);
}

h4{
     background-color: rgb(60, 60, 230);
}

h5{
     background-color: rgb(199, 137, 199);
}

h6{
     background-color: rgb(206, 126, 126);
}

.important {
    background-color:rgb(180, 178, 19);
}

#logo {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(230, 26, 26);
    
}
.first{
    color:red;
    font-size:40px;
    font-family:Fantasy;
    text-align:center;
    
}
.img{
    text-align:center;
}
.txt{
    font-size: larger;
    font-style: initial;
    text-align: center;
}
header:hover h1{
     color:skyblue

}
.large-img{
     max-width:50px;
}
     



